<% provide(:title, 'Lesson') %>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h2>Basic 1000 3/20</h2>
	<form action="#" method="get" accept-charset="utf-8">
	<table class="table">
		<tbody>
			<tr>
				<td>
					<h1>Gi gi do</h1>
					<input class="btn btn-default" type="button" value="Speak"><br/>
				</td>
				<td>
					<input class="btn btn-default" type="button" value="Dep"><br/>
					<input class="btn btn-default" type="button" value="Ban"><br/>
					<input class="btn btn-default" type="button" value="Cao"><br/>
					<input class="btn btn-default" type="button" value="Khac">
				</td>
			</tr>
		</tbody>
	</table>
		
	</form>
</body>
</html>